/*-- scss:defaults --*/

// COLORS
$charcoal: #03001C;
$gray-blue: #393E46;
$baige: #DCD7C9;
$dark-sand: #E7AB79;
$light-sand: #ECB365;

//THEME
$body-bg: $charcoal;
$body-color: $baige;
$navbar-bg: $charcoal;
$navbar-fg: $baige;
$link-color: $light-sand;
$navbar-hl: $light-sand;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  color: $dark-sand;
}